.App {
  text-align: center;
}

.myPost_Post{
  width: 50%;
  height: 180px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.myPost_button{
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.seosaph_mypost_title{
  background-color:rgb(84, 120, 196);
  height: 45px;
}

.seosaph_mypost_footer{
  background-color: lightgrey;
}

.seosaph_mypost_post{
  width: 50%;
  margin: 2%;
  border-radius: 20px 100px / 120px;
  overflow: hidden;
}

.seosaph_mypost_post:hover{
  border: 1px solid black;
  box-shadow: 0px 8px 5px #888, 4px -8px 5px #888;
}

.seosaph_post{
  display: flex;
  width: 100%;
}

.seosaph_post_post{
  width: 50%;
  height: 100%;
  border-radius:25%;
  margin: 3%;
  padding: center;
  overflow: hidden;
}

.seosaph_post_title, .seosaph_post_footer{
  background-color: rgb(70, 70, 70);
  height: 45px;
  color: whitesmoke;
}

.seosaph_comment{
  border: 1px solid rgb(136, 130, 130);
  width: 30%;
  margin: 2%;
}

.seosaph_post_comment{
  margin-top: 2%;
}

.seosaph_post_comment_input{
  width: 30%;
  height: 30%;
}

.seosaph_post_likes_dislikes{
  margin-left: 5%;
  padding-left: 15%;
}

.likes_dislikes{
  margin-left: 43%;
  padding: auto;
}

.seosaph_check_login{
  color: red;
  margin: 15px;
}

.seosaph_home_homepage_navbar{
  margin-left: 5px;
}

.seosaph_home_logout_navbar{
  margin-left: 20px;
}

.seosaph_home_navbar{
  margin-left: 20px;
  border: none;
}

.seosaph_home_login_navbar{
  margin: 30px;
}

.seasaph_myprofile{
  border: 5px solid black;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5%;
}

hr{
  margin-top: 50px;
  border: 6px solid rgb(3, 3, 3);
}

.seosaph_myprofile_bottom{
  display: flex;
}

.seosaph_myprofile_bottom > div{
  -ms-flex: 1; 
  flex: 1;
}

.seosaph_myprofile_pic{
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2%;
}

.seosaph_login{
  margin-top: 2%;
  width: 40%;
}

.login_register_heading{
  margin-top: 5%;
}

input::placeholder { 
  text-align: center;
}

.firstNameMessage{
 text-align: left;
}

span{
  color: red;
}

@media only screen and (max-width: 700px) {
  .seasaph_myprofile{
    border: 5px solid black;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5%;
  }

  .seosaph_login{
    margin-top: 5%;
    width: 70%;
  }
  .seosaph_myprofile_pic{
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2%;
    width: 40%;
    height: 40%;
  }

  .myPost_Post{
    width: 80%;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
  }

  .seosaph_mypost_post{
    width: 80%;
    margin: 2%;
    border-radius: 10px 100px / 120px;
    overflow: hidden;
  }

  .seosaph_post_post{
    width: 80%;
    height: 100%;
    border-radius:25%;
    margin: 3%;
    padding: center;
    overflow: hidden;
  }

  .seosaph_comment{
  border: 1px solid rgb(136, 130, 130);
  width: 70%;
  margin: 2%;
  }

  .seosaph_post_comment_input{
    width: 60%;
    height: 30%;
  }

  .likes_dislikes{
    margin-left: 25%;
    padding: auto;
  }

  .myPost_button{
    width: 100px;
    height: 40px;
    border-radius: 25px;
  }
}

